<!DOCTYPE html>
<html>
<head>
  <title>MusicConcertNetwork</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<ul class="nav nav-tabs navbar-fixed-top">
		  <li role="presentation"><a href="/">Home</a></li>
		  <li role="presentation"><a href="#">Concert List</a></li>
		  <% if current_user.nil? %>
		  <li role="presentation"><a href="/users/sign_in">Sign In</a></li>
		   <li role="presentation"><a href="/users/sign_up">Sign Up</a></li>
		   <% else %>
		   <li role="presentation"><a href="/">Hello! <%#=@name%></a></li>
		   <li role="presentation"><a href="/users/sign_out" data-method="delete">Sign Out</a></li>
		   <% end %>
		</ul>
	</header>

<%= yield %>

	<footer>
		<nav class="navbar navbar-inverse navbar-fixed-bottom">
			<div class="container-fluid">
				<ul class="nav-tabs">
				  <li role="presentation"><a href="/">Home</a></li>
				  <li role="presentation"><a href="#">Concert List</a></li>
				  <!-- <li role="presentation"><a href="#"></a></li> -->
				</ul>
			</div>
		</nav>
	</footer>

</body>
</html>
